@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins", sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
    color: #17233D;
    font-weight: 400px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.875px;
    line-height: 21px;
    margin-right: 32px;
    cursor: pointer;
}

.button-header{
    background: #6FBF44;
    border-radius: 6px;
    border: 1px solid #4CB538;
    width: 124px;
    height: 51px;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 1px;
}

img{
    margin: 136px 0 0 123px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 85px;
    width: 493px;
    margin-bottom: 37px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 47px 0 55px 0;
    
}

.button-learn-more{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 1px;
                    color: #6FBF44;
                    cursor: pointer;
}
